<div class="calendar-container">
  <%= month_calendar do |date| %>
    <div class="number-emoji-calendar">
      <p class="date-calendar-number"><%= date.day %></p>
      <%= render 'shared/calendar_mood', day_mood: current_user.average_mood_for(date) %>
    </div>
  <% end %>
</div>