<div class="container mt-3">
<h2 class="text-center text-secondary"><%= Date.strptime(params[:date], '%Y-%m-%d').strftime("%A, %b %e") %></h2>


<% @moods.each do |mood| %>
  <div class="card-product show-card">
    <h5 class="text-right mb-0 mt-2 mr-2"><%= mood.created_at.in_time_zone('Asia/Tokyo').strftime("%l:%M %p") %></h5>
    <div class="card-product-infos">
      <div class="emoji">
      <% case mood.rating %>
      <% when "awful" %>
      <span style="font-size: 56px; margin-right: 24px">
        <i class="far fa-sad-cry"></i>
      </span>
      <% when "meh" %>
      <span style="font-size: 56px; margin-right: 24px">
        <i class="far fa-meh"></i>
      </span>
      <% when "neutral" %>
      <span style="font-size: 56px; margin-right: 24px">
        <i class="far fa-smile"></i>
      </span>
      <% when "happy" %>
      <span style="font-size: 56px; margin-right: 24px">
        <i class="far fa-laugh-beam"></i>
      </span>
      <% when "fabulous" %>
      <span style="font-size: 56px; margin-right: 24px">
        <i class="far fa-grin-hearts"></i>
      </span>
      <% else %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>

      <div>
        <h4><%= mood.rating.capitalize %></h4>
        <div class="tags">
          <% mood.activity_list.each do |activity| %>
            <p class="activity-card ml-0 mt-1"><%= activity %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>

</div>
