// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$logo-colour: #282DED;

// awful
$purple: #6E2594;
// sad
$red: #E23D18;
// neutral
$yellow: #F9AC1B;
// happy
$blue: #1988E3;
// fabulous
$green: #248C37;

