.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 10px;

  .card-friend {
    display: inline-block;
    text-align: center;
    margin-right: 16px;
    p {
      margin-top: 6px;
      margin-bottom: 0px;
      font-size: 15px;
      color: #2b2b2b;
      font-weight: 500;
    }
  }
}

.status-friend {
  position: relative;
}

.name-friend h4 {
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 600;
}


.display-mood-emoji {
  position: absolute;
  right: -12px;
  top: -4px;
}

.community-title {
  display: flex;
  justify-content: space-between;
  margin-top: -12px;
}


.community-container {
  margin: 24px 15px;
}
.community-title h4 {
  margin: 24px 10px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.friend-container {
  display: flex;
  margin: 40px 46px;
  flex-wrap: wrap;
  justify-content: space-between;
}

img.square-avatar {
  border-radius: 10%;
  width: 80px;
  height: 80px;

}

.friend-list {
  display: grid;
  justify-items: center;
  margin-bottom: 10px;
}

.card-happenings {
  background-color: white;
  border-radius: 16px;
  box-shadow: 1px 1px 20px lightgrey;
  width: 386px;
  margin: 0 auto;
  margin-top: 12px;
}

// .card-happenings > .card-list-mood {
//     height: 100px;
//     padding-top: 10px;
// }

// .card-happenings > .card-list-mood ~ .card-list-mood {
//     height: 100px;
//     margin-top: 0px;
//     padding-top: 0px;
// }

// .card-list-mood {
//   overflow: hidden;
//   height: 90px;
//   display: flex;
//   align-items: center;
//   margin: -10px 20px;
//   position: relative;
// }

.card-list-mood {
    overflow: hidden;
    /* height: 90px; */
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
    padding: 12px 20px;
    border-bottom: solid .5px lightgray;
}

p.time-mood {
  font-size: 16px;
  opacity: .7;
  color: #222222;
  margin-right: 20px;
  margin-top: 23px;
  // position: absolute;
  // right: 0;
  // top: 16px;
}

.card-list-mood .mood-info {
  padding: 16px;
  padding-left: 42px;
  // margin-top: 16px;
  display: grid;
}

.mood-info i {
  font-size: 56px;
  margin-left: 12px;
}

.line-icon {
  width: 32px;
  opacity: .7;
  margin-top: -49px;
}

i.far.fa-heart {
  // position: absolute;
  // right: 60px;
  font-size: 24px;
  color: #2b2b2b;
  &:hover {
    color: pink;
  }
}

i.fab.fa-line.community {
  // position: absolute;
  // right: 85px;
  font-size: 28px;
  color: #3dd304;
  opacity: 0.6;
  // position: absolute;
  //   right: 88px;
  //   top: 337px;
  &:hover {
    opacity: 1;
  }
}

.timeline-line-heart {
  margin-left: auto;
  // margin-top: 28px;
  // display: grid;
  align-items: center;
  // height: 10px;

}


.tags-community p {
  font-size: 14px;
  // background: #ECF0F1;
  color: #222222;
  // border-radius: 20px;
  // width: fit-content;
  // height: 24px;
  // padding: 1px 12px;
  font-weight: 400;
  opacity: .7;
  letter-spacing: .3px;
  margin-bottom: 0;
  line-height: 24px;
  // margin-left: 8px;
  // margin-top: 6px;
}

