.community-title h4 {
  margin: 24px 36px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.friend-container {
  display: flex;
  margin: 40px 36px;
}

img.square-avatar {
  border-radius: 10%;
  width: 80px;
  height: 80px;

}

.friend-list {
  display: grid;
  justify-items: center;
  margin-right: 16px;
}

.card-happenings {
  background-color: white;
  border-radius: 16px;
  box-shadow: 1px 1px 20px lightgrey;
  width: 336px;
  margin: 0 auto;
  margin-top: 24px;
}

.card-list-mood {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

p.time-mood {
  font-size: 12px;
  opacity: .7;
  color: #222222;
  position: absolute;
  right: 60px;
}

.card-list-mood .mood-info {
  padding: 16px;
}

.mood-info i {
  font-size: 40px;
  margin-left: 12px;
}

i.far.fa-heart {
  position: absolute;
  right: 60px;
  font-size: 18px;
  color: #2b2b2b;
  &:hover {
    color: pink;
  }
}

i.fab.fa-line.community {
  position: absolute;
  right: 85px;
  font-size: 40px;
  color: #3dd304;
}

.tags-community p {
  font-size: 14px;
  background: #ECF0F1;
  color: #222222;
  border-radius: 20px;
  width: fit-content;
  height: 24px;
  padding: 1px 12px;
  font-weight: 400;
  opacity: .7;
  margin-left: 12px;
  margin-top: 10px;
}

