.bad-habit-img {
  width: 330px;
  height: 140px;
  object-fit: cover;
  margin: 24px 36px;
  margin-top: 20px;
}

.title-habits h4 {
  margin: 24px 36px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 16px;
}

.happy-habits h4 {
  margin: 24px 36px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  margin-top: -10px;
  margin-bottom: 16px;
}

.happy-habits p {
  margin: 6px 36px;
  font-weight: 300;
  font-size: 15px;
}

.progress {
  width: 330px;
  margin: 8px 36px;
  height: 21px;
}

.progress-bar {
  color: #424242;
}

.last-week {
  margin: 0px 24px;
  background-color: #eff6fc;
  text-align: center;
  padding: 8px 12px;
  display: flex;
  border-radius: 12px;
  align-items: center;
  width: 130px;
  margin-bottom: 10px;
  p {
    margin: 4px;
    font-size: 14px;
    color: #A5A7AC;
  }
  i {
    font-size: 24px;
    margin-left: 4px;
  }
}

.this-week {
  margin: 0px 24px;
  background-color: #eff6fc;
  text-align: center;
  padding: 8px 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 130px;
  p {
    margin: 4px;
    font-size: 14px;
    color: #A5A7AC;
  }
  i {
    font-size: 24px;
    margin-left: 4px;
  }
}

.compare-weeks {
  display: grid;
  margin: 0px 12px;
}

.container-habits {
  margin: 20px auto;
  margin-left: 6px;
}


@media screen and (min-width: 600px) {
  .container-habits {
    text-align: center;
  }
  .progress {
    margin: 8px auto;
  }






}
