.cards-container {
  background-color: white;
  padding: 8px;
  margin-top: 16px;

}

.activity-card {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #f49097;
  background-color: #5dfdcb;
  margin: 8px;
  padding: 4px 12px;
  font-weight: bold;
  opacity: 0.4;
  border-radius: 24px;
  box-shadow: 1px 1px 1px 1px #F5F5F5;
  // color: #696969;
  color: #4A4A4A;
  padding-left: 24px;
  padding-right: 22px;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.activity-list {
  width: max-content;
  display: inline;
}

.activity-list-year {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12px auto;
}

.notification {
  border: 1px solid #4A4A4A;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 12px;
  position: relative;
  border-radius: 24px;
  opacity: 0.9;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  width: 25%;
}

.notification .badge {
  position: absolute;
  top: -9px;
  right: -9px;
  padding: 4px 7px;
  border-radius: 70%;
  background: $logo-colour;
  color: white;
}

.tab-content {
  width: 100%;
}

.tab-pane {
  text-align: left;
  p {
    text-align: center;
    color: #858585;
    margin-bottom: 0;
    font-size: 14px;
  }
  h4 {
    text-align: center;
    color: #2b2b2b;
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
  }
}

.nav-pills .nav-link{
  color: white;
}

.nav-pills .nav-link.active {
  color:  #282828;
  background-color: white;
  margin: 2px;
  border-radius: 14px;
}

#pills-tab {
  border-radius:16px;
  background-color: $logo-colour;
  margin: 8px 12px;
}

.reference-rating {
  display: grid;
  position: absolute;
  top: 209px;
  left: 34px;
  i {
    margin-bottom: 41px;
  }
}

.reference-rating-year {
  display: grid;
  position: absolute;
  top: 210px;
  left: 45px;
  i {
    margin-bottom: 35px;
  }
}

canvas.chartjs-render-monitor {
  padding: 20px 24px;
  margin-left: 12px;
}

.insight-title h4 {
  margin: 24px 10px;
  font-weight: 600;
  font-size: 20px;
  color: #2b2b2b;
}


svg.awful-3d-insights-emoji{
  width: 1em;
  height: 1em;
  margin-bottom: 42px;
}

svg.meh-3d-insights-emoji{
  width: 1em;
  height: 1em;
  margin-bottom: 42px;
}
svg.neutral-3d-insights-emoji {
  width: 1em;
  height: 1em;
  margin-bottom: 42px;

}

svg.happy-3d-insights-emoji {
 width: 1em;
  height: 1em;
  margin-bottom: 42px;
}

svg.fab-3d-insights-emoji {
  width: 1em;
  height: 1em;
  margin-bottom: 42px;
}

svg.awful-3d-insights-emoji-year{
  width: 1em;
  height: 1em;
  margin-bottom: 36px;
}

svg.meh-3d-insights-emoji-year {
  width: 1em;
  height: 1em;
  margin-bottom: 36px;
}
svg.neutral-3d-insights-emoji-year {
  width: 1em;
  height: 1em;
  margin-bottom: 36px;

}

svg.happy-3d-insights-emoji-year {
 width: 1em;
  height: 1em;
  margin-bottom: 36px;
}

svg.fab-3d-insights-emoji-year {
  width: 1em;
  height: 1em;
  margin-bottom: 36px;
}

 @media screen and (min-width: 600px) {
  // .form-group {
  //   display: inline-block;
  // }
  .average-container {
    position: relative;
  }
  .reference-rating {
    display: grid;
    position: absolute;
    top: 12px;
    left: 24px;
  }
}
