.cards-container {
  background-color: white;
  padding: 8px;
  margin-top: 16px;

}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f49097;
  // background-color: #5dfdcb;
  margin: 8px;
  padding: 8px;
  border-radius: 24px;
  box-shadow: 1px 1px 1px 1px #F5F5F5;
  // color: #696969;
  color: white;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.activity-card.color-1 { background-color: #df494e;}
.activity-card.color-2 { background-color: #68a5b7;}
.activity-card.color-3 { background-color: #8f978e;}
.activity-card.color-4 { background-color: #d8b6ad;}
.activity-card.color-5 { background-color: #677b94;}
.activity-card.color-6 { background-color: #677b94;}
.activity-card.color-7 { background-color: #66be98;}
.activity-card.color-8 { background-color: #fcd06d;}
.activity-card.color-9 { background-color: #f8a427;}
.activity-card.color-10 { background-color: #d42b14;}


.tab-content {
  width: 100%;
}

.tab-pane {
  text-align: left;
  p {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
}

.nav-pills .nav-link{
  color: #696969;
}

.nav-pills .nav-link.active {
  color:  #282828;
  background-color: white;
  margin: 2px;
  border-radius: 12px;
}

#pills-tab {
  border-radius:16px;
  background-color: #F5F5F5;

}
