<!-- test file for css components page -->
<h1>Pages#test</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- button components -->
<div class="circle-button">
  <%= link_to "+", "#", class: "btn btn-ghost" %>

</div>
<div class="circle-button">
  <%= link_to "+", "#", class: "btn btn-flat" %>

</div>
<div class="circle-button">
  <%= link_to "+", "#", class: "btn btn-gradient" %>

</div>
