div.calendar-heading {
  text-align: center;
  margin: 12px;
  a {
    text-decoration: none;
    color: black;
    content: ">";
  }
}

span.calendar-title {
  margin: 0 5px;
}

.number-emoji-calendar {
  display: grid;
  text-align: center;
  justify-content: center;
}

table.table.table-striped {
  margin: 0 auto;
}

div.simple-calendar {
  margin: 0 auto;
}

.date-calendar-number {
  margin-bottom: 4px;
}
