.card-product {
  overflow: hidden;
  height: 108px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // added
  width: 45vh;
  margin-top: 20px;
  border-radius: 8px;
  margin: 16px auto;
  position: relative;
}

.card-product-infos {
  display: flex;
  align-items: center;
}

.tags .active-card {
  margin: 0;
}


.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h4 {
  margin-top: -3px;
  font-weight: 600;
  margin-bottom: 0;
}

.card-product h5 {
  color: #c7c7c7;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  // margin-bottom: 12px;
  // margin-top: 0px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.card-product .card-product-infos {
  padding-left: 24px;
  padding-top: 12px;
}

// // .activity-list li {
// //  display: inline;
// // }

// // .activity-list ul {
// //  padding-inline-start: 0px;

// }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  background: #ECF0F1;
  color: #222222;
  border-radius: 20px;
  // padding: 4px;
  height: 24px;
  width: fit-content;
  box-shadow: none;
  padding: 6px 12px;
  font-weight: 400;
}

.tags {
  display: flex;
  margin-top: 4px;
  margin-left: -7px;
  p {
    font-size: 15px;
  }
}

.overall {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 16px;
}


.emotion {
  text-align: center;
  background-color: white;
  width: 102px;
  height: 60px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  i {
    font-size: 48px;
    margin-top: -8px;
  }
  p {
    font-size: 10px;
  }
}


