.main-container {
  min-height: 90vh;
}

.container {
  margin: 44px auto;
}

// for index-container
.card-remove-link {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

div.container-mood {
  justify-content: center;
  align-items: center;
  display: flex;
}
