.main-container {
  min-height: 80vh;
  margin-bottom: 12vh;
}

.container {
  margin: 20px auto;
}

// for index-container
.card-remove-link {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

div.container-mood {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2px;
}


.calendar-container {
  margin: 20px;
  margin-top: 64px;
  // padding-top: 48px;
}


.qr-code-container {
    margin-top: 160px;
    text-align: center;

}
