.mood-form-question h1 {
  color: #a8cdcd;
  text-align: left;
  font-family: $form-title-font;
  margin-left: 40px;
  line-height: 45px;
}




.activity-pill {
  margin-top: 36px;
  margin-bottom: 36px;
}


.mood-form-activity {
  text-align: center;
  margin-top: 34px;
}

svg.awful-3d-activity {
  width: 3em;
  height: 3em;
}

svg.meh-3d-activity {
  width: 3em;
  height: 3em;
}
svg.neutral-3d-activity {
  width: 3em;
  height: 3em;
}
svg.happy-3d-activity {
  width: 3em;
  height: 3em;
}
svg.fab-3d-activity {
  width: 3em;
  height: 3em;
}



.form-control {
    display: block;
    width: 340px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4A4A4A;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #aaa;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}

textarea.form-control {
    // text-align: center;
    opacity: .7;
    font-family: Source Sans Pro, sans-serif;
}

.form-group {
  margin: 14px;
  // margin-bottom: 40px;
}


.form-container {
  margin: 20px 20px;
  padding-top: 20px;
  text-align: center;

  // left: 50%;
  // top: 50%;
  // position: absolute;
  // transform: translate(-50%, -50%);
  .form-check-input {
    display: none;
  }

  // .activity-list {
  //   // border: 1px solid black;
  //   &:hover {
  //     opacity: 1;
  //   }
  //   &.active {
  //     opacity: 1;
  //   }
  // }

  .activity-pill {
    // border: 1px solid black;
    // display: flex;
    // justify-content: space-around;
  }

  // .form-check-input + .form-check-label{
  //   opacity: 0.4;

  //   // &.active {
  //   //   opacity: 1;
  //   // }

  // }
  .form-check-input:checked + .form-check-label{
    opacity: 1;

    // &.active {
    //   opacity: 1;
    // }

  }

.form-text-activity {
  h2 {
    font-weight: 300;
    font-size: 32px;
    color: #2b2b2b;
    margin-bottom: -12px;
  }
  }
  #new_mood {
    padding-top: 8px;
    // margin-left: 12px;

  }
  .form-check-label {
    border: 1px solid #4A4A4A;
    color: #4A4A4A;
    opacity: 0.4;
    border-radius: 24px;
    padding: 4px 12px;
    font-weight: bold;
    margin-bottom: 8px;
    &:hover {
      opacity: 1;
    }
    // &.active {
    //   opacity: 1;
    // }

  }

}
.form-btn-container {
    margin-top: -3px;
  .form-btn {
    border: 1px solid #98d3d6;
    border-radius: 50%;
    background-color: #98d3d6;
    padding: 18px 22px;
    color: white;
    &:hover {
      background-color: #69c3c7;
      border: 1px solid #69c3c7;

    }
    &.active {
      background-color: #69c3c7;
    }
  }

}


.smiley-form-container {
  text-align: center;
  padding-top: 50px;
  .smiley-form-text {
    position: relative;
    margin: 24px;
    padding-bottom: 32px;

  }
  h2 {
    font-weight: lighter;
  }
  p.clock {
    font-weight: 500;
    font-size: 20px;
    margin-top: 50px;
    color: #2b2b2b;
    text-align: left;
    margin-left: 20px;
  }

  .smiley-container p {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }

  fieldset {
    margin-left: 18px;

  }

  // .form-check-input:checked + .form-check-label{
  // opacity: 1;

  //   // &.active {
  //   //   opacity: 1;
  //   // }
  //   // display: inline-block;
  //   //   margin: 0 0.5rem;

  //   animation: bounce; /* referring directly to the animation's @keyframe declaration */
  //   animation-duration: 2s;
  // }

}

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 2px;
}


@keyframes upAndDown {
  0% { transform: translate(0, -1px); }
  50% { transform: translate(0, 2px); }
  100% { transform: translate(0, -1px); }
}

