.navbar-lewagon {
  justify-content: space-around;
  background: $logo-colour;
  height: 8vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon .icon-color {
  width: 40px;
  color: #b0b0b0;
  display: inline-grid;
  text-align: center;
  text-decoration: none;
}

.navbar-lewagon .icon-color-active {
  color: white;
  content: "• ";
}
