.navbar-lewagon {
  justify-content: space-around;
  background: $logo-colour;
  height: 8vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon .icon-color {
  width: 40px;
  // font-size: 18px;
  font-size: 22px;
  color: #d9ffff;
  display: inline-grid;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #a6a6a6;
}

.navbar-lewagon .icon-color-active {
  color: white;
  content: "• ";
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: $logo-colour; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 88px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 20px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: grid;
  transition: 0.3s;
  justify-content: center;
}

i.fas.fa-power-off {
  font-size: 30px;
}

i.fab.fa-line {
  font-size: 45px;
}

img.small-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 7px;
  right: 16px;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: $logo-colour;
  color: #d9ffff;
  // padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: $logo-colour;
  color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  // padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
