.navbar-lewagon {
  justify-content: space-around;
  background: $logo-colour;
  height: 8vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon .icon-color {
  width: 40px;
  font-size: 18px;
  color: #d9ffff;
  display: inline-grid;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #a6a6a6;
}

.navbar-lewagon .icon-color-active {
  color: white;
  content: "• ";
}
