.emotion-line {
  position: absolute;
  ul {
    display: flex;
    list-style: none;
  }
}

.fab-list {
  position: absolute;
  right: -333px;
  bottom: -4px;
  font-size: 14px;
  color: $green;
}

.happy-list {
  position: absolute;
  right: -255px;
  bottom: -4px;
  font-size: 14px;
  color: $blue;
}

.neutral-list {
  position: absolute;
  right: -190px;
  bottom: -4px;
  font-size: 14px;
  color: $yellow;
}

.meh-list {
  position: absolute;
  right: -112px;
  bottom: -4px;
  font-size: 14px;
  color: $red;
}

.awful-list {
  position: absolute;
  right: -46px;
  bottom: -4px;
  font-size: 14px;
  color: $purple;
}

.new-mood-img {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

#smiley-container {
  .form-check-input {
    display: none;
  }
}

// form smiley
.grayscale { filter: grayscale(100%); }
form#smileys input[type="radio"] {
  -webkit-appearance: none;
  width: 90px;
  height: 90px;
  border: none;
  cursor: pointer;
  transition: border .2s ease;
  filter: grayscale(100%);
  margin: 0 5px;
  transition: all .2s ease;
}




// smiley divs

// .hide-checkbox {
//   display: none;
// }
// .visibility-hidden {
//   visibility: hidden;
// }

// .awful {
//   -webkit-appearance: none;
//   width: 90px;
//   height: 90px;
//   border: none;
//   cursor: pointer;
//   transition: border .2s ease;
//   filter: grayscale(100%);
//   margin: 0 5px;
//   transition: all .2s ease;
//   background: url("awful-face.png") center;
//   background-size: cover;
//   // color: #E23D18;
// }

// .awful:hover {
//   opacity: 0.5;
// }

// .meh {
//   -webkit-appearance: none;
//   width: 90px;
//   height: 90px;
//   border: none;
//   cursor: pointer;
//   transition: border .2s ease;
//   filter: grayscale(100%);
//   margin: 0 5px;
//   transition: all .2s ease;
//   background: url("sad-face.png") center;
//   background-size: cover;
// }

// .meh:hover {
//   opacity: 0.5;
// }

// .neutral {
//   -webkit-appearance: none;
//   width: 90px;
//   height: 90px;
//   border: none;
//   cursor: pointer;
//   transition: border .2s ease;
//   filter: grayscale(100%);
//   margin: 0 5px;
//   transition: all .2s ease;
//   background: url("neutral-face.png") center;
//   background-size: cover;
// }

// .neutral:hover {
//   opacity: 0.5;
// }

// .happy {
//   -webkit-appearance: none;
//   width: 90px;
//   height: 90px;
//   border: none;
//   cursor: pointer;
//   transition: border .2s ease;
//   filter: grayscale(100%);
//   margin: 0 5px;
//   transition: all .2s ease;
//   background: url("happy-face.png") center;
//   background-size: cover;
// }

// .happy:hover {
//   opacity: 0.5;
// }

// .fabulous {
//   -webkit-appearance: none;
//   width: 90px;
//   height: 90px;
//   border: none;
//   cursor: pointer;
//   transition: border .2s ease;
//   filter: grayscale(100%);
//   margin: 0 5px;
//   transition: all .2s ease;
//   background: url("fab-photo.png") center;
//   background-size: cover;
// }

// .fabulous:hover {
//   opacity: 0.5;
// }

// form#smileys input[type="radio"].fab {
//   background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg") center;
//   background-size: cover;
// }

// codepen smiley
@use postcss-nested;
@use postcss-simple-vars;



svg {
  margin: 0px;
  width: 4em;
  height: 4em;
}

.smiley-svg-div {
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

svg.awful-3d {
  width: 4em;
  height: 4em;
  opacity: 0.8;
  // display: inline-block;
    // margin: 0 0.5rem;

    // animation: upAndDown linear infinite alternate-reverse; /* referring directly to the animation's @keyframe declaration */
    // animation-duration: 2s; /* don't forget to set a duration! */
  // animation: bounce; /* referring directly to the animation's @keyframe declaration */
  // animation-duration: 2s;
  // .animate-bounce {
  //   animation: bounce; /* referring directly to the animation's @keyframe declaration */
  //   animation-duration: 2s;
  // }

  .face {
    animation: upAndDown 0.9s linear infinite alternate-reverse;
  }

  .left-eye, .right-eye {
    opacity: 1;
    transform-origin: 1 2px;
    // animation:
    //   blink 3s linear infinite,
    //   blinkSqueeze 3s linear infinite;
  }

//   .mouth {
//     padding-top: 20px;
//   }
  &:hover{
    opacity: 1;
    cursor: pointer;

  }
  &.active {
    opacity: 1;
  }
  &.active .face{
    animation:none;
  }
}

svg.meh-3d {
  width: 4em;
  height: 4em;
  opacity: 0.8;
  .face {
    animation: leftToRight 0.4s linear infinite alternate-reverse;
  }

  .left-eye, .right-eye {
    opacity: 1;
    transform-origin: 0 1px;
    animation:
      blink 3s linear infinite,
      blinkSqueeze 3s linear infinite;
  }

  .mouth {
    padding-top: 20px;
  }
  &:hover{
    opacity: 1;
    cursor: pointer;

  }
  &.active {
    opacity: 1;
  }
  &.active .face{
    animation: none;
  }
  &.active .left-eye, .right-eye{
    animation: none;
  }
}
svg.neutral-3d {
  opacity: 0.8;
  .face {
    animation: upAndDown 6s ease infinite;
  }

  .left-eye, .right-eye {
    opacity: 1;
    transform-origin: 0 1px;
    animation:
      blink 3s linear infinite,
      blinkSqueezeTwice 3s linear infinite;
    animation-delay: 1s;
  }
  .mouth {
    animation: scaleX 2s ease infinite alternate-reverse;
  }
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    opacity: 1;
  }
  &.active .face{
    animation: none;
  }
  &.active .left-eye{
    animation: none;
  }
  &.active .right-eye {
    animation: none;
  }
  &.active .mouth {
    animation: none;
  }
}

svg.happy-3d {
  opacity: 0.8;
  .face-container {
    animation: rotateLeftToRight 3s infinite;
  }

  .face-upAndDown {
    animation: fineUpAndDown 3s infinite;
  }

  .left-eye, .right-eye {
    opacity: 1;
    transform-origin: 0 1px;
    animation:
      blink 3s linear infinite,
      blinkSqueeze 3s linear infinite;
  }
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    opacity: 1;
  }
  &.active .face-container{
    animation:none;
  }
  &.active .face-upAndDown{
    animation:none;
  }
  &.active .left-eye, .right-eye{
    animation:none;
  }
}

svg.fab-3d {
  opacity: 0.8;
  .face {
    animation: upAndDown 0.8s ease infinite;
  }

  .scaleFace {
    transform-origin: 35px 20px;
    transform: rotate(12deg);
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
    animation: none;
  }
  &.active {
    opacity: 1;
    .face {
      animation: none
    }
  }
  // &.active .face{
  //   animation:none;
  // }
}


@keyframes rotateLeftToRight {
  0% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  100% { transform: rotate(15deg); }
}

@keyframes fineUpAndDown {
  0% { transform: translate(0, 0); }
  25% { transform: translate(0, -1px); }
  50% { transform: translate(0, 0); }
  75% { transform: translate(0, -1px); }
  100% { transform: translate(0, 0); }
}

@keyframes upAndDown {
  0% { transform: translate(0, -1px); }
  50% { transform: translate(0, 2px); }
  100% { transform: translate(0, -1px); }
}

@keyframes leftToRight {
  0% { transform: translate(-1px, 4px); }
  100% { transform: translate(1px, 4px); }
}

@keyframes leftToRightWide {
  0% { transform: translate(-5px, 1px); }
  100% { transform: translate(2px, 1px); }
}

@keyframes scaleX {
  0% { transform: translate(0, 0) scale(1, 1); }
  100% { transform: translate(-9px, 0) scale(2, 1); }
}

@keyframes scaleUpAndDown {
  0% { transform: scale(1, 1); }
  100% { transform: scale(1, 1.2); }
}

@keyframes blink {
  0% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes blinkSqueeze {
  0% { transform: scale(1, 1); }
  45% { transform: scale(1, 1); }
  50% { transform: scale(1, 0); }
  55% { transform: scale(1, 1); }
  100% { transform: scale(1, 1); }
}

@keyframes blinkSqueezeTwice {
  0% { transform: scale(1, 1); }
  45% { transform: scale(1, 1); }
  50% { transform: scale(1, 0); }
  55% { transform: scale(1, 1); }
  60% { transform: scale(1, 0); }
  65% { transform: scale(1, 1); }
  100% { transform: scale(1, 1); }
}



svg.awful-3d-calendar-card {
  width: 1.5em;
  height: 1.5em;
}

svg.meh-3d-calendar-card {
  width: 1.5em;
  height: 1.5em;

}
svg.neutral-3d-calendar-card {
width: 1.5em;
  height: 1.5em;
}

svg.happy-3d-calendar-card {
width: 1.5em;
  height: 1.5em;
}

svg.fab-3d-calendar-card {
width: 1.5em;
  height: 1.5em;
}

svg.awful-3d-average-card {
  margin: 0px;
  width: 3.8em;
  height: 3.8em;
}

svg.meh-3d-average-card {
  margin: 0px;
  width: 3.8em;
  height: 3.8em;
}
svg.neutral-3d-average-card {
  margin: 0px;
  width: 3.8em;
  height: 3.8em;
}

svg.happy-3d-average-card {
  margin: 0px;
  width: 3.8em;
  height: 3.8em;
}

svg.fab-3d-average-card {
  margin: 0px;
  width: 3.8em;
  height: 3.8em;
}


svg.awful-3d-card-product {
  width: 3.0em;
  height: 3.0em;
      margin-top: 14px;
    margin-right: 16px;
}

svg.meh-3d-card-product {
  width: 3.0em;
  height: 3.0em;
      margin-top: 14px;
    margin-right: 16px;
}
svg.neutral-3d-card-product {
  width: 3.0em;
  height: 3.0em;
      margin-top: 14px;
    margin-right: 16px;
}

svg.happy-3d-card-product {
  width: 3.0em;
  height: 3.0em;
      margin-top: 14px;
    margin-right: 16px;
}

svg.fab-3d-card-product {
  width: 3.0em;
  height: 3.0em;
      margin-top: 14px;
    margin-right: 16px;
}


svg.awful-3d-community-emoji {
  width: 3.5em;
  height: 3.5em;
      margin-left: 8px;

}

svg.meh-3d-community-emoji {
  width: 3.5em;
  height: 3.5em;
      margin-left: 8px;
}
svg.neutral-3d-community-emoji {
  width: 3.5em;
  height: 3.5em;
      margin-left: 8px;

}

svg.happy-3d-community-emoji {
 width: 3.5em;
  height: 3.5em;
      margin-left: 8px;

}

svg.fab-3d-community-emoji {
  width: 3.5em;
  height: 3.5em;
      margin-left: 8px;

}
